.App {
  text-align: center;
}
.Header {
  color: #443e3e;
  text-shadow: 1px 1px 5px #fff;
}
/* write your parent styles in here for your App.js */

.card {
  display: flex;
  justify-content: space-around;
}

.cardBody {
  padding-bottom: 30px;
  background: burlywood;
  border: 2px solid white;
  background-blend-mode: color-dodge;  
}

.cardBody:hover {
  background: transparent;
  color: white;
  border:  2px seashell dashed;
}

.title {
  background: beige;
  color: black; 
  text-align: center;
}

.title:hover {
  color: black;
}